{% extends 'base.html' %}

{% block title %}Autores{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}

    <div class="container">
        <h1>Autores</h1>
    </div>

    <div class="container">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Modificar/Eliminar</th>
            </tr>
            </thead>
            <tbody>
                {% for a in creador %}
            <tr>
                <th scope="row">{{a.id}}</th>
                <td>{{a.name}}</td>
                <td>{{a.last_name}}</td>
                <td>
                    <a class="nav-link" href="{% url 'urls_app:modificar-autor' a.id %}">Editar</a>
                    <a class="nav-link" href="{% url 'urls_app:eliminar-autor' a.id %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
      
    <div class="container">
        <a class="btn btn-primary" href="nuevo_autor">Nuevo</a>
    </div>
    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="?page={{page_obj.previous_page_number}}">Anterior</a>
            </li>
            {% endif %}
            
            {% for pagina in paginator.page_range %}
            <li class="page-item">
                <a class="page-link" href="?page={{pagina}}"> {{pagina}} </a>
            </li>
            {% endfor %}
                
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <div class="container">
            <h6>Total de visitas: {{cont_visit}} </h6>
            <h6>Sueldo mínimo: {{sueldo_min}} </h6>
            <h6>Sueldo máximo: {{sueldo_max}} </h6>
            <h6>Sueldo promedio: {{sueldo_promedio}} </h6>

    </div>

    <div class="container">
        <a class="btn btn-primary" href="{% url 'urls_app:autores-pdf' %}" role="button" aria-disabled="true">Imprimir planilla PDF</a>
    </div>

    

{% endblock content %}